WcfCalculationService/CalculationConsole/Connected Services/CalculationServiceReference/Calculation2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60160/Calculation.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="IsPrimeNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPrimeNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsPrimeNumberResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumDigits">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumDigitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SumDigitsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReverseString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="word" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReverseStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReverseStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintHTMLString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintHTMLStringResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SortFiveNumbers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="numbers" nillable="true" type="q1:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SortFiveNumbersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SortFiveNumbersResult" nillable="true" type="q2:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>